.wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .section {
    display: grid;
    gap: 4px;
  }
  
  .title {
    text-align: center;
    margin: 0;
    font-size: 16px;
  }
  